
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap');

.header
{

    border:0.25px solid #f2f3f7;
    display: flex;
    align-items: flex-start;
}
.logo img{
    height: 33px;
    top: 17px;
    width: 33px;
    margin-top: 17px;
    margin-left: 17px;
       
}
.spending-calculator
{
       color: #414141;
       font-family: Poppins;
       font-size: 14px;
       font-style: normal;
       font-weight: 600;
       height: 26px;
       left: 65px;
       line-height: 26px;
       margin-top: 21px;
       width: 154px;
       display: flex;
       align-items: center;
       padding-left: 12px;
}
 .Drop-down
{
    height: 25px;
    margin-left: 104px;
    margin-top: 12px;
    width: 74px;
 
} 
.Total-amount
{
    background: #e1e6ff;
    border-radius: 10px;
    height: 159px;
    margin-left: 17px;
    margin-top: 10px;
    padding-left: 10px;
    top: 74px;
    width: 366px;
    margin-top: 15.54px;
}
 .vector125 img{
    position: absolute;
    left: 313px;
    top: 84px;
   width: 78px;
   height: 157px;
   border-radius: 70px;
}
.vector126 img{
    position: absolute;
    width: 78px;
    height: 157px;
    left: -20px;
   top: -49px;
   border: 2px solid #ffffff;
   border-radius: 70px;
   padding-top: 197px;
} 
.textTotal
{
    color: #414141;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    height: 26px;
    line-height: 26px;
    margin: 17px 116px 116px 116px;
    width: 139px;
    padding-top: 17px;
}
